.path
    display: flex
    align-items: center
    overflow: hidden 
    white-space: nowrap 
    text-overflow: ellipsis
    margin-top: 80px
    @media (max-width: 768px)
        margin-top: 32px
    &__item
        font-size: 1.25rem
        line-height: 2rem
        color: #7B8E97
        display: flex
        align-items: center
        
        &::before
            content: ''
            display: block
            margin: 0 12px
            width: 4px
            height: 4px
            border-radius: 50%
            background-color: #7B8E97
            
        &:first-child
            &::before
                display: none
            
            