.slide
    width: 100%
    height: 480px
    background: center/contain no-repeat

.right
    width: 795px
    position: relative
.product
    margin-top: 80px

.title
    margin-top: 80px

.arrows
    width: 100%

.wrapper
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
.bullet
    width: 180px
    height: 123px
    background: center/contain no-repeat
    opacity: 0.5
    border: 1px solid var(--stroke)
    border-radius: 8px
    cursor: pointer
    transition: .2s
    &:hover
        opacity: 1

.active
    opacity: 1