.menu
    display: flex
    justify-content: center
    flex-wrap: wrap
    &__item
        font-size: 1.25rem
        line-height: 2rem
        text-transform: uppercase
        color: var(--materasso)
        margin: 0 16px
        transition: .2s
        &:hover
            color: #677D99
        &_spec
            color:#E20918
    @media (max-width: 768px)
        display: none