.sale
    margin-top: 80px

.top
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 560px)
        display: block
.btn
    font-size: 1.25rem
    line-height: 2rem
    color: var(--btn)
    border: 1px solid var(--btn)
    border-radius: 8px
    padding: 12px 24px
    background-color: #fff
    margin: 48px auto 16px

.count
    text-align: center
    color: var(--textGrey)
.skeleton
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 24px
    @media (max-width: 560px)
        flex-direction: column
    @media (max-width: 1000px)
        grid-template-columns: 1fr 1fr
    @media (max-width: 560px)
        grid-template-columns: 1fr