footer
    background-color: var(--materasso)
    margin-top: 150px
    padding: 48px 0

.logo
    width: 119px
    svg
        width: 100%

.footer
    display: flex
    justify-content: space-between
    &__right
        display: flex
        width: 860px
        justify-content: space-between

.column
    display: flex
    flex-direction: column
    max-width: 270px
    color: var(--white)

.link
    margin-bottom: 16px

.networks
    display: flex

.network
    display: flex
    justify-content: center
    align-items: center
    transition: .3s linear all
    width: 36px
    height: 36px
    border-radius: 8px
    background-color: var(--btn)
    svg
        fill: #fff    

.inst
    &:hover
        background-color: #cc397a04
        svg
            fill: #cc397a
.telega
    margin: 0 16px       
    &:hover
        background-color: #0088CC04
        svg
            fill: #0088CC

.in       
    &:hover
        background-color: #0172b104
        svg
            fill: #0172b1